<h2 mat-dialog-title>{{book.name}}</h2>
<mat-dialog-content class="mat-typography">

  <div class="description_container">
    <h3><u>Description</u></h3>
    <p>{{book.description}}</p>
  </div>

  <div class="isbn_container">
    <h2><u>ISBN</u></h2>
    <p>{{book.isbn}}</p>
  </div>

  <div class="author_container">
    <h2><u>Author</u></h2>
    <p>{{author.name}}</p>
  </div>

  <div class="categories_container">
    <h2><u>Categories</u></h2>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let category of categories">{{category.name}}</mat-list-item>
    </mat-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="warn">Close</button>
</mat-dialog-actions>
