<h2 mat-dialog-title>Book Stock</h2>
<mat-dialog-content class="mat-typography">
    <h2>Available Stock: <span style="color: green;">{{stock.itemStock}}</span></h2>

    <div class="stockcontainer">
        <button (click)="OnChangeStock('reduce')" mat-fab color="warn">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter Stock</mat-label>
            <input type="number" [(ngModel)]="stock.itemStock" [disabled]="true" matInput placeholder="Ex. 5">
        </mat-form-field>
        <button (click)="OnChangeStock('add')" mat-fab color="primary">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
    <button mat-raised-button color="primary" (click)="AddStock()">Submit</button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
